{% extends "pages/base.html" %}

{% block content %}
    <br>
        <div class = "container">
            <div class ="row" style="justify-content: center; align-items: center;">
                <div class="col-md-6 m-auto">
                    <div class = "card text-center mb-3 " style="max-width: 25rem;" >
                        <div class="card-header"> Welcome To Pollster </div>
                        <div class="card-body">
                            <p class="card-text"> This is an Polling Web Application built with Django </p>
                            <a href = "/polls" class="btn btn-primary">View Available Polls</a>
                        </div>
                    </div>
                </div>
                
            </div>
        </div>
{% endblock %}
        
