{% extends "pages/base.html" %}

{% block content %}
    <div class ="text-center" style="padding-bottom: 20px;">
        <h1>
            Poll Questions
        </h1>
    </div>

    {% for question in questions %}
        <div style="margin: auto; padding-bottom: 20px;">
            <h5>{{question.question_text}}</h5>
            <a  class="btn btn-primary" href="{% url 'choices' question.id %}" role="choices">Vote Now</a>
            <a class="btn btn-primary" href="{% url 'results' question.id %}"  role="results">Results</a>
        </div>
        
    {% endfor %}
    <hr>
    <div class= "">
        <a class="btn btn-secondary" href="{% url 'index' %}"  role="button">Back to Home</a>
    </div>
{% endblock %}